[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mypy = "*"
django-cors-headers = "*"
pillow = "*"
django-ckeditor = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with_social"],version = "==0.9.5"}
django-filter = "*"
python-memcached = "*"
drf-haystack = "*"
pysolr = "*"
django-mptt = "*"
djangorestframework-recursive = "*"
django-jet = "*"
djangorestframework-jwt = "*"
feedparser = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
