@import "./../sass/colors"

.profile-header
	display: flex
	align-items: stretch
	padding: 20px 0

.profile-header-img
	width: 25%
	transition: filter 0.3s

.profile-header-img.editable
	position: relative

.profile-header-img.editable:before
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	display: flex
	align-items: center
	justify-content: center
	content: '+'
	font-size: 30px
	font-weight: bold
	color: $background-color
	opacity: 0
	transition: opacity 0.3s

.profile-header-img.editable:hover
	filter: brightness(0.5)

.profile-header-img.editable:hover:before
	opacity: 1

.profile-img
	width: 100%

.profile-header-content
	display: flex
	flex-direction: column
	width: 75%

.profile-header-content-top
	display: flex
	justify-content: space-between
	padding: 0 0 10px 10px

.profile-header-username
	font-size: 20px

.profile-settings-btn
	font-size: 20px

.profile-header-content-middle
	padding: 10px 0 10px 10px
	flex-grow: 1

.profile-header-description
	text-align: justify
	height: 100%
	width: 100%

.profile-header-description-textarea
	height: 100%
	width: 100%
	background-color: $input-background-color
	border: none
	padding: 5px
	border-radius: 5px
	color: $light-text-color
	resize: none

.profile-header-content-bottom
	padding: 10px 10px 0 10px