@import colors
@import page-units
@import utilities

*
	box-sizing: border-box
	margin: 0
	padding: 0
	border: 0
	font-family: 'Roboto', sans-serif
	word-wrap: break-word
	-webkit-tap-highlight-color: transparent
	overscroll-behavior: auto

body
	overflow: hidden

html, body, #app
	min-width: $min-page-width
	height: 100%
	background-color: $background-color

#app
	display: flex
	flex-direction: column

.main-container
	overflow: auto
	position: relative

img
	display: block

.banner-top
	width: 100%
	background-image: url("/images/top_banner.webp")
	background-size: cover
	background-position: center center
	background-repeat: no-repeat

	@media (max-width: $breakpoint-sm - 1)
		height: 0

	@media (min-width: $breakpoint-sm)
		height: 80px

	@media (min-width: $breakpoint-md)
		height: 120px

	@media (min-width: $breakpoint-l)
		height: 180px

	@media (min-width: $breakpoint-xl)
		height: 240px

a
	text-decoration: none
	color: $light-text-color

.breakpoint-container
	width: 90%

	@media (min-width: $breakpoint-sm)
		width: 90%

	@media (min-width: $breakpoint-md)
		width: 530px

	@media (min-width: $breakpoint-l)
		width: 820px

	@media (min-width: $breakpoint-xl)
		width: 1150px

	@media (min-width: $breakpoint-xxl)
		width: 1619px

	transition: width 0.5s
	margin: 0 auto
	overflow: hidden

.page-header
	background-color: $background-color

.banner-logo-container
	height: 100%
	display: inline-block

.banner-logo
	height: 100%
	margin-left: calc(-12% + 23px)

.container
	position: relative
	flex-grow: 1

.content-wrapper
	position: relative
	background: $content-gradient
	color: $light-text-color

.overlay
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	width: 0
	opacity: 0
	z-index: 9
	background-color: rgba(0, 0, 0, 0.75)
	transition: opacity 0.5s, width 0s ease 0.5s, height 0.5s

.content-wrapper.dimmed .overlay
	transition: opacity 0.5s, width 0s, height 0.5s
	height: 100%
	width: 100%
	opacity: 1

.content
	padding: 0 23px 23px 23px

.title
	color: $title-text-color
	font-size: 25px

.title span
	display: inline-block
	border-bottom: 3px solid $title-border-color

.pless-title
	color: $light-text-color
	padding-bottom: 3px

.pless-title span
	border-bottom: 3px solid $title-border-color

.bg-title
	padding: 10px
	text-align: center
	margin: 0 auto
	max-width: 700px
	background-image: url("/images/title-bg-5.webp")
	background-size: 100% 100%
	background-position: center center
	background-repeat: no-repeat

::-webkit-scrollbar
	width: 5px

::-webkit-scrollbar-thumb
	background: $scrollbar-thumb-color
	border-radius: 10px

::-webkit-scrollbar-thumb:hover
	background: $scrollbar-hover-color


//Base form styling
.form-group
	padding-bottom: 10px
	color: $light-text-color
	font-size: 18px
	width: 100%

.form-group label
	display: block

.invalid-form-msg
	display: none
	color: $invalid-text-color
	font-weight: bold
	padding: 5px 0

.form-group.invalid .invalid-form-msg
	display: block

.input
	font-size: 18px
	width: 100%
	background: rgba(255, 255, 255, 0.2)
	border: 0
	border-radius: 5px
	outline: 0
	padding: 5px
	margin-top: 5px
	color: $light-text-color

input[type="submit"]
	cursor: pointer

.btn
	padding: 10px 20px
	background: $icon-hover-color
	width: 100%
	border: 0
	border-radius: 5px
	color: $light-text-color

.mini-btn
	padding: 5px 10px
	background: $icon-hover-color
	width: 100%
	border: 0
	border-radius: 5px
	color: $light-text-color

.bordered-btn
	padding: 15px 30px
	border: 1px solid $color_assets_2
	font-size: 18px
	outline: none
	background-color: transparent
	cursor: pointer
	color: $color_assets_2
	transition: background-color 0.2s, color 0.2s

.bordered-btn:hover
	background-color: $color_assets_2
	color: $color_assets_1

.mini-bordered-btn
	padding: 5px 10px
	border: 1px solid $color_assets_2
	font-size: 16px
	outline: none
	background-color: transparent
	cursor: pointer
	color: $color_assets_2
	transition: background-color 0.2s, color 0.2s

.mini-bordered-btn:hover
	background-color: $color_assets_2
	color: $color_assets_1

.gradient-container
	background: $content-gradient