@import colors
@import page-units

.card-layout
  display: flex
  flex-wrap: wrap
  width: 100%
  margin-bottom: -20px

.card
  margin-bottom: 20px
  position: relative

  @media (max-width: $breakpoint-sm)
    margin-right: 0
    width: 100%

  @media (min-width: $breakpoint-sm)
    width: 100%
    margin-right: 0

  @media (min-width: $breakpoint-md)
    width: calc(50% - 20px)
    margin-right: 20px * 2 / 1

  @media (min-width: $breakpoint-l)
    width: calc(25% - 20px)
    margin-right: 20px * 4 / 3

  @media (min-width: $breakpoint-xl)
    width: calc(100% / 6 - 20px)
    margin-right: 20px * 6 / 5

.card:nth-of-type(2n)
  @media (max-width: $breakpoint-l - 1)
    margin-right: 0

.card:nth-of-type(4n)
  @media (max-width: $breakpoint-xl - 1)
    margin-right: 0

.card:nth-of-type(6n)
  @media (min-width: $breakpoint-xl)
    margin-right: 0

//.card:nth-of-type(n+5)
//  @media (max-width: $breakpoint-md - 1)
//    display: none
//
//.card:nth-of-type(n+7)
//  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-l - 1)
//    display: none
//
//.card:nth-of-type(n+9)
//  @media (min-width: $breakpoint-l) and (max-width: $breakpoint-xl - 1)
//    display: none

.card-body
  width: 100%
  position: absolute
  z-index: 1
  padding: 5px
  border-radius: 5px 5px 0 0
  background-color: $card-bg-color

.card-title
  text-align: center
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 100%
  color: $light-textcolor

.card-image
  width: 100%
  border-radius: 6px 6px 5px 5px
  -webkit-transition: filter 0.5s
  -moz-transition: filter 0.5s
  -ms-transition: filter 0.5s
  -o-transition: filter 0.5s
  transition: filter 0.5s

.play-icon
  position: absolute
  left: 50%
  top: 50%
  color: $light-textcolor
  transform: translate(-50%, -50%)
  -webkit-transition: opacity 0.5s
  -moz-transition: opacity 0.5s
  -ms-transition: opacity 0.5s
  -o-transition: opacity 0.5s
  transition: opacity 0.5s
  opacity: 0

.card-image:hover
  filter: brightness(50%)

.card-image-container:hover .card-image
  filter: brightness(50%)

.card-image-container:hover .play-icon
  opacity: 1
