$color_assets_1: #0E0E11
$color_assets_2: #FFFFFF
$color_assets_3: #F1F1F1
$color_assets_4: #646464
$color_assets_5: #FF3B44
$color_assets_6: #343434

//General Use Colors
$background-color: $color_assets_1
$secondary-color: $color_assets_5

//Text Colors
$light-text-color: $color_assets_2
$title-text-color: $color_assets_2
$title-border-color: $color_assets_5

//Button Colors
$button-bg-color: $color_assets_5
$button-text-color: $color_assets_2

//Icons Colors
$icon-hover-color: $color_assets_5

//Topbar Input Color
$topbar-input-color: $color_assets_2

//Card Colors
$card-bg-color: $color_assets_5
$card-episode-bg-color: $color_assets_5
$card-episode-color: $light-text-color
$card-episode-border-color: $color_assets_2
$card-episode-hover-bg-color: $color_assets_2
$card-episode-hover-border-color: $color_assets_5
$card-episode-hover-color: $color_assets_5

//EpisodeList Colors
$episode-list-item-selected-bg-color: $color_assets_5

//Comment Input Color
$comment-input-color: $color_assets_2

//OldCarousel Colors
$carousel-card-bg-color: $color_assets_5
$carousel-tag-color: #0F0F0F

//Main Scroll Colors
$scrollbar-thumb-color: $color_assets_5
$scrollbar-hover-color: #C33035
//Alternative Scroll Colors
$alt-scrollbar-thumb-color: #9c1f25
$alt-scrollbar-hover-color: #6b1c1c

//OldAnimePage Tag Colors
$anime-details-tag-color: #0F0F0F

//OldAnimePage Pagination Control Colors
$page-control-color: #0F0F0F
$page-control-border-color: $color_assets_5
$current-page-color: $color_assets_5

//ModalWindow Colors
$modal-background-color: lighten($background-color, 85%)

//Form Colors
$invalid-text-color: $color_assets_5

//Input Colors
$input-background-color: #3F3F3F

//Gradients
$content-gradient: linear-gradient(to bottom, $color_assets_6 0%, $color_assets_1 100%)
