@import colors
@import page-units

.sidebar
  transition: left 0.5s
  position: absolute
  bottom: 0
  top: 0
  left: -$sidebar-width
  z-index: 10
  width: $sidebar-width
  background-color: $background-color
  overflow: auto

.sidebar.open
  left: 0

.sidebar .sidebar-item
  display: block
  padding: 15px 23px
  color: $light-textcolor
  transition: background-color 0.2s
  font-size: 18px

.sidebar .sidebar-item:hover
  background-color: lighten($background-color, 5%)

.sidebar a:focus .sidebar-item
  background-color: lighten($background-color, 5%)

.sidebar.sticky
  position: fixed
  top: $topbar-height


