@import ../sass/colors
@import ../sass/page-units

.home-carousel
	height: calc(100vh - 2px)

	@media (max-width: $breakpoint-md - 1)
		padding-top: 65px
		height: 0

	@media (min-width: $breakpoint-md)
		height: calc(100vh - 120px - 2px)

	@media (min-width: $breakpoint-l)
		height: calc(100vh - 180px - 2px)

	@media (min-width: $breakpoint-xl)
		height: calc(100vh - 240px - 2px)

.home-carousel.hidden
	padding-top: 65px
	height: 0

.latest-episodes-container .card-layout:not(:last-child)
	margin-bottom: 0