.player-episodes-container
  flex-shrink: 1
  display: flex
  flex-wrap: wrap

.player-misc-wrapper
  width: 75%
  height: 100%

.episode-list-container
  height: 500px
  width: 25%
  padding-left: 25px
