@import ../sass/colors

.episode-options-container
  padding: 15px 0 0 0
  display: flex
  justify-content: flex-end
  align-items: center

.episode-option
  cursor: pointer
  padding-left: 25px

.episode-options-container .title
  flex-grow: 1
  padding: 0

.episode-option:hover
  color: $icon-hover-color

.episode-option:active
  -webkit-transform: translateY(-2px)
  -moz-transform: translateY(-2px)
  -ms-transform: translateY(-2px)
  -o-transform: translateY(-2px)
  transform: translateY(-2px)
  
.like-dislike-container
  display: flex
